.gb-popin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
  cursor: pointer; }

.gb-popin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
  max-width: 90%;
  max-height: 90%; }
  .gb-popin__link {
    display: block;
    cursor: pointer; }
  .gb-popin__image {
    max-width: 100%;
    height: auto;
    display: none; }
  .gb-popin__image--portrait {
    display: block; }
  @media (orientation: landscape) {
    .gb-popin__image--portrait {
      display: none; }
    .gb-popin__image--landscape {
      display: block; } }
  .gb-popin__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    background-color: #b2b0b0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001; }
    .gb-popin__close:before, .gb-popin__close:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 16px;
      background-color: black; }
    .gb-popin__close:before {
      transform: rotate(45deg); }
    .gb-popin__close:after {
      transform: rotate(-45deg); }

.gb-popin--single .gb-popin__image {
  display: block; }
